{{!< default}}

<h1>Welcome to {{@site.title}}</h1>
<div class="post-feed">
    {{#foreach posts}}
    <div class="browser-window post-card">
        <div class="browser-bar">
            <div class="browser-buttons">
                <div class="browser-button"></div>
                <div class="browser-button"></div>
                <div class="browser-button"></div>
            </div>
            <span>{{title}}</span>
        </div>
        <div class="browser-content">
            <header class="post-card-header">
                <h2><a href="{{url}}">{{title}}</a></h2>
            </header>
            <section class="post-card-excerpt">
                <p>{{excerpt words="33"}}</p>
            </section>
        </div>
    </div>
    {{/foreach}}
</div>